.cart-item {
    width: 25%;
    display: flex;
    height: auto;
    margin-bottom: 15px;
  
    img {
      width: 40%;
    }
  
    &__details {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 20px;
    }

    &__name {
      font-size: 1.5rem;
      margin-bottom: .7rem;
    }

    &__delete {
      color: #bd2828;
      font-size: 2rem;
      margin-top: 1rem;
      transition: all .3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
}
  